@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.title {
  background: url("/assets/images/title-background.JPG") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 40vh;
  padding-left: 5vw;
}

#projects {
  padding: 30px;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  transition: all 1s ease;
}

.hover-black:hover {
  filter: invert(40%) sepia(98%) saturate(0%) hue-rotate(56deg) brightness(96%) contrast(100%);
  transition-duration: 0.5s;
}

.filter-menu {
  padding: 0;
}

.filter-menu li {
  display: inline-block;
  width: auto;
  list-style: outside none none;
  padding: 5px 10px;
  margin-top: 10px;
}

.filter-selected {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 8px #e6e8e6;
  color:dodgerblue;
  transition-duration: 0.2s;
}

.filter-item:hover {
  background-color:ghostwhite;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 8px #e6e8e6;
  cursor: pointer;
  transition-duration: 0.4s;
}