#experiences {
  backdrop-filter: blur(5px);
}

.element div span {
  color: #023c5c;
}

@media only screen and (max-width: 1170px) {
  .element div span {
    color: white;
  }
}

.workplace input {
  opacity: 0;
  position: fixed;
  width: 0;
}

.workplace label {
  font-weight: 500;
  font-size: 16px;
}
